@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@font-face {
  font-family: "MEMEH";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/meme/MemeFont.ttf") format("truetype");
}

@font-face {
  font-family: "MEMEP";
  src: url("/fonts/meme/MemeParagraph.ttf") format("truetype");
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  font-family: "MEMEP";
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-default text-default;
}


[aria-label="clear input"] {
  @apply right-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-bottom {
  @apply after:content-[''] after:h-[1px] after:bg-[rgba(255,255,255,0.1)] after:absolute after:bottom-[0] after:left-[0] after:w-full after:z-[100];
}

.next-tab button[data-selected="true"] {
  @apply border-[color:var(--e-18-a-20,rgba(225,138,32,0.40))] [background:var(--e-18-a-20,rgba(225,138,32,0.40))];
}

.next-tab button[data-selected="true"] > span {
  @apply bg-transparent;
}

.next-tab-lbp button[data-selected="true"] {
  @apply bg-[#E18A2066] border-1 border-[#E18A2066] text-white
}

.next-tab-lbp button[data-selected="true"] > span {
  @apply bg-transparent;
}
.next-card {
  @apply [background:#1D1407] rounded-[20px];
}

section[role="dialog"] {
  @apply [background:#271A0C];
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
