@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@font-face {
  font-family: "MEMEH";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/meme/MemeFont.ttf") format("truetype");
}

@font-face {
  font-family: "MEMEP";
  src: url("/fonts/meme/MemeParagraph.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Gliker";
  src: url("/fonts/v3-ui/Gliker-Regular.ttf") format("truetype");
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  font-family: "MEMEP";
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-default text-default;
}

[aria-label="clear input"] {
  @apply right-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-bottom {
  @apply after:content-[''] after:h-[1px] after:bg-[rgba(255,255,255,0.1)] after:absolute after:bottom-[0] after:left-[0] after:w-full after:z-[100];
}

.next-tab {
  @apply w-full;
}

.next-tab button {
  @apply text-sm p-2;
}

.next-tab button[data-selected="true"] {
  @apply border border-[#FFCD4D] bg-[#42280F] shadow-[1px_2px_0px_0px_#9B7D2F];
}

.next-tab button[data-selected="true"] > span {
  @apply bg-transparent;
}
.next-card {
  @apply [background:#1D1407] rounded-[20px];
}

section[role="dialog"] {
  @apply [background:#271A0C];
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.honeypot-card {
  @apply bg-[#271A0C] rounded-3xl border-3 border-solid border-[#F7931A]/10 hover:border-[#F7931A] transition-all;
}

.honeypot-input {
  @apply border-[#E18A20]/40 bg-[#E18A20]/40 placeholder:text-[#9E9DA3];
}

.honeypot-button {
  @apply border-[#E18A20]/40 bg-[#E18A20]/40;
}

.text-shadow-custom {
  text-shadow: 2px 4px 0px #af7f3d;
}

.text-stroke-white {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  text-stroke-width: 2px;
  text-stroke-color: #fff;
  stroke-width: 2px;
  stroke: #fff;
}

.text-stroke-black {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  text-stroke-width: 2px;
  text-stroke-color: #000;
  stroke-width: 2px;
  stroke: #000;
}

.custom-dashed {
  @apply border-none rounded-[32px];
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='99.6%25' height='99.7%25' x='0.15%25' y='0.15%25' rx='31' ry='31' fill='none' stroke='black' stroke-width='1' stroke-dasharray='8 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
